In [3]:
import pandas as pd
import numpy

In [20]:
df = pd.read_csv('/Users/unitig/Downloads/estimated_crimes_1979_2020.csv')
df = df[['year', 'state_abbr','state_name','population','violent_crime']]
df = df.sort_values(by=['year', 'violent_crime'])
df = df.drop(df.iloc[-1].name)
# Select only the 'state_name' and 'violent_crime' columns
df = df[['state_name', 'violent_crime']]
df['state_name'] = df['state_name'].str.strip().str.lower()

# Group by 'state_name' and calculate mean of 'violent_crime' for each state
df_avg = df.groupby('state_name').mean().reset_index()

# Sort states by mean 'violent_crime' in ascending order
df_avg = df_avg.sort_values(by='violent_crime')

# Reset the index so that it's in numerical order
df_avg = df_avg.reset_index(drop=True)

# Display the resulting DataFrame
df_avg

              state_name  violent_crime
0                vermont     785.309524
1           north dakota     959.214286
2                wyoming    1330.285714
3                  maine    1657.261905
4           south dakota    1757.595238
5          new hampshire    1846.119048
6                montana    2439.738095
7           rhode island    3159.500000
8                 hawaii    3164.785714
9                  idaho    3226.690476
10                alaska    4056.809524
11              delaware    4500.285714
12         west virginia    4544.285714
13              nebraska    5195.976190
14                  utah    5717.380952
15                  iowa    7919.452381
16           mississippi    9029.523810
17  district of columbia   10325.785714
18                kansas   10588.404762
19           connecticut   11714.761905
20              kentucky   11861.500000
21                oregon   12495.333333
22                nevada   12681.071429
23            new mexico   12779.404762
24              arkansas   12815.880952
25             minnesota   13058.238095
26             wisconsin   13452.523810
27              colorado   17014.690476
28              oklahoma   17078.500000
29              virginia   19337.500000
30            washington   21786.285714
31               alabama   22489.976190
32               indiana   22901.428571
33               arizona   26272.119048
34        south carolina   28968.357143
35              missouri   30151.095238
36             louisiana   31079.809524
37         massachusetts   32782.642857
38            new jersey   35037.952381
39             tennessee   36068.261905
40              maryland   36937.404762
41        north carolina   37114.023810
42               georgia   39877.547619
43                  ohio   43086.071429
44          pennsylvania   46794.500000
45              michigan   57479.166667
46              illinois   79992.833333
47                 texas  113401.642857
48               florida  118046.119048
49              new york  125462.857143
50            california  218079.238095

In [34]:

data = [
    ["Rank", "State", "Cost Index", "Grocery", "Housing", "Utilities", "Transportation", "Health", "Misc."],
    [1, "Mississippi", 85.3, 97.1, 68.6, 86.1, 88.6, 97.6, 91.0],
    [2, "Oklahoma", 86.0, 93.8, 68.0, 98.2, 92.3, 91.8, 91.5],
    [3, "Kansas", 87.7, 96.8, 69.4, 107.5, 88.3, 97.1, 91.9],
    [3, "Kansas", 87.7, 96.8, 69.4, 107.5, 88.3, 97.1, 91.9],
    [4,	"Missouri", 88.4,	94, 87.2,	97.7,	90.3,	89.9,	91.6],
    [5, "Alabama", 88.8, 96.4, 70.4, 103.6, 92.0, 86.9, 96.2],
    [6, "Iowa", 89.7, 96.8, 72.4, 94.5, 100.6, 99.7, 95.4],
    [7, "Nebraska", 90.1, 95.2, 78.4, 85.7, 101.8, 97.1, 94.8],
    [8, "West Virginia", 90.3, 97.7, 70.9, 94.5, 97.8, 97.0, 99.0],
    [9, "Arkansas", 90.3, 95.4, 76.3, 91.8, 92.2, 87.2, 99.1],
    [10, "Tennessee", 90.4, 97.8, 82.9, 93.2, 90.0, 88.1, 92.8],
    [11, "Illinois", 90.8, 97.5, 78.3, 90.9, 102.4, 95.4, 94.3],
    [12, "Georgia", 91.0, 98.9, 78.5, 84.4, 94.5, 101.4, 97.2],
    [13, "Indiana", 91.5, 98.0, 77.0, 105.4, 95.7, 98.9, 94.7],
    [14, "Louisiana", 92.0, 95.1, 84.7, 85.3, 97.2, 97.9, 96.3],
    [15, "Michigan", 92.7, 97.4, 80.9, 99.6, 98.6, 94.0, 96.8],
    [16, "Wyoming", 92.8, 102.0, 80.7, 85.7, 95.6, 98.6, 99.0],
    [17, "Texas", 93.0, 94.8, 84.2, 105.7, 92.6, 94.1, 95.9],
    [18, "Kentucky", 93.8, 101.2, 72.5, 102.9, 97.7, 81.8, 106.3],
    [19, "South Dakota", 93.8, 98.0, 93.9, 87.9, 93.0, 97.0, 93.2],
    [20, "Ohio", 94.0, 100.9, 80.1, 97.2, 97.7, 96.5, 100.1],
    [21, "Minnesota", 94.1, 97.2, 82.3, 91.5, 99.0, 111.5, 99.6],
    [22, "New Mexico", 94.2, 96.7, 87.5, 93.2, 93.5, 99.6, 98.3],
    [24, "Wisconsin", 95.0, 97.9, 84.4, 102.8, 98.6, 113.7, 96.7],
    [25, "North Carolina", 96.1, 99.0, 92.1, 94.5, 93.5, 109.5, 97.3],
    [26, "South Carolina", 96.5, 100.1, 89.4, 105.3, 91.6, 96.7, 99.5],
    [27, "Pennsylvania", 99.0, 100.9, 89.9, 105.9, 108.2, 96.7, 102.0],
    [28, "Nevada", 101.3, 102.1, 110.7, 96.6, 117.2, 94.9, 91.3],
    [29, "Utah", 101.5, 98.3, 106.5, 93.5, 100.9, 90.3, 102.9],
    [30, "Florida", 102.3, 100.1, 110.5, 96.7, 99.8, 96.3, 99.4],
    [31, "Delaware", 102.6, 103.0, 99.7, 97.8, 109.5, 104.3, 103.9],
    [32, "Virginia", 103.1, 100.6, 107.7, 103.6, 96.5, 102.6, 102.2],
    [33, "Montana", 103.7, 103.0, 111.4, 91.6, 99.4, 95.7, 103.3],
    [34, "Colorado", 105.5, 100.6, 116.1, 90.9, 107.4, 102.0, 103.0],
    [35, "Idaho", 106.1, 103.7, 113.8, 84.6, 109.7, 101.2, 106.3],
    [36, "Arizona", 107.2, 101.8, 125.3, 94.3, 99.2, 93.5, 102.1],
    [37, "Rhode Island", 110.5, 100.5, 114.6, 109.7, 98.9, 107.4, 115.2],
    [38, "Maine", 111.5, 101.2, 118.9, 108.0, 112.8, 96.2, 112.8],
    [39, "Connecticut", 113.1, 99.8, 122.7, 122.3, 102.6, 109.7, 111.9],
    [40, "New Jersey", 114.1, 103.9, 136.8, 107.2, 106.1, 96.1, 106.6],
    [41, "Vermont", 114.9, 103.1, 131.4, 120.8, 115.6, 106.2, 106.1],
    [42, "New Hampshire", 115.0, 102.3, 109.8, 130.2, 113.6, 120.6, 120.8],
    [43, "Oregon", 115.1, 107.6, 139.9, 94.0, 113.6, 101.4, 105.8],
    [44, "Washington", 115.1, 109.7, 129.4, 92.2, 117.1, 119.8, 110.8],
    [45, "Maryland", 119.5, 108.5, 152.2, 109.2, 100.2, 96.2, 108.5],
    [46, "Alaska", 124.4, 127.4, 118.1, 148.1, 121.9, 149.8, 118.8],
    [47, "New York", 125.1, 103.0, 173.3, 102.5, 106.7, 104.5, 109.0],
    [48, "California", 134.5, 112.3, 186.5, 124.8, 124.1, 106.4, 110.9],
    [49, "Massachusetts", 148.4, 105.0, 219.5, 126.1, 127.5, 112.6, 125.8],
    [50, "Hawaii", 179.0, 125.6, 309.7, 141.1, 140.3, 118.4, 123.8]
]

data = pd.DataFrame(data[1:], columns=data[0])
selected_columns = data[["Rank", "State", "Cost Index"]]
print(selected_columns.to_string(index=False))

 Rank          State  Cost Index
    1    Mississippi        85.3
    2       Oklahoma        86.0
    3         Kansas        87.7
    3         Kansas        87.7
    4       Missouri        88.4
    5        Alabama        88.8
    6           Iowa        89.7
    7       Nebraska        90.1
    8  West Virginia        90.3
    9       Arkansas        90.3
   10      Tennessee        90.4
   11       Illinois        90.8
   12        Georgia        91.0
   13        Indiana        91.5
   14      Louisiana        92.0
   15       Michigan        92.7
   16        Wyoming        92.8
   17          Texas        93.0
   18       Kentucky        93.8
   19   South Dakota        93.8
   20           Ohio        94.0
   21      Minnesota        94.1
   22     New Mexico        94.2
   24      Wisconsin        95.0
   25 North Carolina        96.1
   26 South Carolina        96.5
   27   Pennsylvania        99.0
   28         Nevada       101.3
   29           Utah       101.5
   30        Florida       102.3
   31       Delaware       102.6
   32       Virginia       103.1
   33        Montana       103.7
   34       Colorado       105.5
   35          Idaho       106.1
   36        Arizona       107.2
   37   Rhode Island       110.5
   38          Maine       111.5
   39    Connecticut       113.1
   40     New Jersey       114.1
   41        Vermont       114.9
   42  New Hampshire       115.0
   43         Oregon       115.1
   44     Washington       115.1
   45       Maryland       119.5
   46         Alaska       124.4
   47       New York       125.1
   48     California       134.5
   49  Massachusetts       148.4
   50         Hawaii       179.0

In [29]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('/Users/unitig/Downloads/provider state estimates_0/PROV_US_AGGREGATE20.CSV')

# Define the health care spending categories
health_care_categories = [
    "Other Non-durable Medical Products(Millions of Dollars)",
    "Durable Medical Products(Millions of Dollars)",
    "Prescription Drugs (Millions of Dollars)",
    "Nursing Home Care (Millions of Dollars)",
    "Home Health Care (Millions of Dollars)",
    "Other Health, Residential, and Personal Care (Millions of Dollars)",
    "Dental Services (Millions of Dollars)",
    "Other Professional Services (Millions of Dollars)",
    "Physician & Clinical Services (Millions of Dollars)",
    "Hospital Care (Millions of Dollars)",
    "Personal Health Care (Millions of Dollars)"
]

# Filter the DataFrame for the health care spending categories and 'State_Name' column
df = df[df['Item'].isin(health_care_categories)][['State_Name', 'Y2020']]

# Calculate the average spending for each state
df['Health_Care_Index'] = df.groupby('State_Name')['Y2020'].transform('mean')

# Drop any rows with non-finite values in the 'Health_Care_Index' column
df = df.dropna(subset=['Health_Care_Index'])

# Rank the states based on their index value in descending order
df['Rank'] = df['Health_Care_Index'].rank(method='min', ascending=False)

# Convert 'Rank' column to integer type
df['Rank'] = df['Rank'].astype(int)

# Sort the DataFrame by the 'Rank' column
df = df.sort_values('Rank')

# Keep only the desired columns
df = df[[ 'State_Name', 'Health_Care_Index']]


df = df.drop_duplicates()

# Reset the index
df = df.reset_index(drop=True)

# Print the modified DataFrame
print(df)

              State_Name  Health_Care_Index
0             California       89434.444444
1               New York       59350.888889
2                  Texas       55330.666667
3                Florida       46224.333333
4           Pennsylvania       32498.555556
5                   Ohio       27169.222222
6               Illinois       26841.111111
7             New Jersey       21867.555556
8                Georgia       20792.777778
9               Michigan       20768.888889
10        North Carolina       20749.777778
11         Massachusetts       20454.666667
12              Virginia       16633.111111
13               Indiana       15542.888889
14            Washington       15417.555556
15             Tennessee       14729.555556
16               Arizona       14311.222222
17             Minnesota       13967.777778
18              Missouri       13554.222222
19              Maryland       13372.666667
20             Wisconsin       12555.777778
21              Colorado       11061.666667
22             Louisiana       10673.333333
23              Kentucky        9768.444444
24               Alabama        9729.666667
25           Connecticut        9677.333333
26                Oregon        9360.333333
27        South Carolina        9209.333333
28              Oklahoma        7792.777778
29                  Iowa        6268.111111
30                Kansas        6038.888889
31              Arkansas        5935.666667
32           Mississippi        5626.111111
33                  Utah        5576.333333
34                Nevada        5489.777778
35         West Virginia        4753.222222
36              Nebraska        4536.777778
37            New Mexico        3760.555556
38  District of Columbia        3587.666667
39                 Maine        3475.444444
40         New Hampshire        3390.666667
41                 Idaho        3165.666667
42                Hawaii        3155.555556
43          Rhode Island        2699.444444
44              Delaware        2609.555556
45          South Dakota        2583.777778
46               Montana        2350.444444
47                Alaska        2077.333333
48          North Dakota        2021.333333
49               Vermont        1535.333333
50               Wyoming        1080.444444

In [35]:
data = {
    'State': [
        'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
        'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
        'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
        'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
        'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
        'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ],
    'Avg 째F': [
        62.8, 26.6, 60.3, 60.4, 59.4, 45.1, 49.0, 55.3, 70.7, 63.5, 70.0, 44.4, 51.8, 51.7, 47.8, 54.3, 55.6, 66.4,
        41.0, 54.2, 47.9, 44.4, 41.2, 63.4, 54.5, 42.7, 48.8, 49.9, 43.8, 52.7, 53.4, 45.4, 59.0, 40.4, 50.7, 59.6,
        48.4, 48.8, 50.1, 62.4, 45.2, 57.6, 64.8, 48.6, 42.9, 55.1, 48.3, 51.8, 43.1, 42.0
    ],
    'Avg 째C': [
        17.1, -3.0, 15.7, 15.8, 15.2, 7.3, 9.4, 12.9, 21.5, 17.5, 21.1, 6.9, 11.0, 10.9, 8.8, 12.4, 13.1, 19.1, 5.0,
        12.3, 8.8, 6.9, 5.1, 17.4, 12.5, 5.9, 9.3, 9.9, 6.6, 11.5, 11.9, 7.4, 15.0, 4.7, 10.4, 15.3, 9.1, 9.3, 10.1,
        16.9, 7.3, 14.2, 18.2, 9.2, 6.1, 12.8, 9.1, 11.0, 6.2, 5.6
    ],
    'Rank': [
        7, 50, 10, 9, 12, 39, 29, 16, 1, 5, 2, 40, 23, 25, 36, 19, 15, 3, 48, 20, 35, 40, 47, 6, 18, 45, 30, 28, 42, 22,
        21, 37, 13, 49, 26, 11, 33, 30, 27, 16, 8, 14, 4, 32, 44, 17, 34, 23, 43, 46
    ]
}

df = pd.DataFrame(data)
print(df)

             State  Avg 째F  Avg 째C  Rank
0          Alabama    62.8    17.1     7
1           Alaska    26.6    -3.0    50
2          Arizona    60.3    15.7    10
3         Arkansas    60.4    15.8     9
4       California    59.4    15.2    12
5         Colorado    45.1     7.3    39
6      Connecticut    49.0     9.4    29
7         Delaware    55.3    12.9    16
8          Florida    70.7    21.5     1
9          Georgia    63.5    17.5     5
10          Hawaii    70.0    21.1     2
11           Idaho    44.4     6.9    40
12        Illinois    51.8    11.0    23
13         Indiana    51.7    10.9    25
14            Iowa    47.8     8.8    36
15          Kansas    54.3    12.4    19
16        Kentucky    55.6    13.1    15
17       Louisiana    66.4    19.1     3
18           Maine    41.0     5.0    48
19        Maryland    54.2    12.3    20
20   Massachusetts    47.9     8.8    35
21        Michigan    44.4     6.9    40
22       Minnesota    41.2     5.1    47
23     Mississippi    63.4    17.4     6
24        Missouri    54.5    12.5    18
25         Montana    42.7     5.9    45
26        Nebraska    48.8     9.3    30
27          Nevada    49.9     9.9    28
28   New Hampshire    43.8     6.6    42
29      New Jersey    52.7    11.5    22
30      New Mexico    53.4    11.9    21
31        New York    45.4     7.4    37
32  North Carolina    59.0    15.0    13
33    North Dakota    40.4     4.7    49
34            Ohio    50.7    10.4    26
35        Oklahoma    59.6    15.3    11
36          Oregon    48.4     9.1    33
37    Pennsylvania    48.8     9.3    30
38    Rhode Island    50.1    10.1    27
39  South Carolina    62.4    16.9    16
40    South Dakota    45.2     7.3     8
41       Tennessee    57.6    14.2    14
42           Texas    64.8    18.2     4
43            Utah    48.6     9.2    32
44         Vermont    42.9     6.1    44
45        Virginia    55.1    12.8    17
46      Washington    48.3     9.1    34
47   West Virginia    51.8    11.0    23
48       Wisconsin    43.1     6.2    43
49         Wyoming    42.0     5.6    46

In [44]:
df = pd.read_csv('/Users/unitig/Desktop/Anaconda Data sets/all fatal_data.csv', sep='\t', encoding='utf-16')
grouped_df = df.groupby('State')['Measure Values'].sum().reset_index()
grouped_df['Transportation_Fatalities_Index'] = grouped_df['Measure Values']
grouped_df['Rank'] = grouped_df['Transportation_Fatalities_Index'].rank(method='min').astype(int)
grouped_df = grouped_df.sort_values('Rank')
grouped_df = grouped_df[['Rank','State', 'Transportation_Fatalities_Index']]
print(grouped_df.to_string(index=False))

 Rank          State  Transportation_Fatalities_Index
    1        Vermont                               67
    2   Rhode Island                               69
    3         Hawaii                               86
    4         Alaska                               89
    5   North Dakota                              103
    6  New Hampshire                              106
    7       Delaware                              122
    8        Wyoming                              128
    9   South Dakota                              145
   10          Maine                              178
   11          Idaho                              223
   12        Montana                              231
   13       Nebraska                              238
   14  West Virginia                              279
   15           Utah                              295
   16    Connecticut                              301
   17         Nevada                              331
   18           Iowa                              347
   19  Massachusetts                              370
   20     New Mexico                              406
   21      Minnesota                              419
   22         Kansas                              449
   23         Oregon                              551
   24       Maryland                              595
   25     Washington                              616
   26     New Jersey                              625
   27      Wisconsin                              646
   28       Arkansas                              656
   29       Colorado                              657
   30       Oklahoma                              679
   31    Mississippi                              772
   32       Kentucky                              802
   33      Louisiana                              864
   34       Virginia                              879
   35        Indiana                              924
   36        Alabama                              966
   37       Missouri                             1021
   38        Arizona                             1086
   39 South Carolina                             1102
   40       Michigan                             1124
   41   Pennsylvania                             1172
   42       New York                             1176
   43       Illinois                             1262
   44      Tennessee                             1275
   45           Ohio                             1281
   46 North Carolina                             1580
   47        Georgia                             1722
   48        Florida                             3449
   49          Texas                             3996
   50     California                             4097

In [46]:
import pandas as pd

data = {
    'State': [
        'Massachusetts', 'Colorado', 'Maryland', 'New Jersey', 'Connecticut',
        'Vermont', 'Virginia', 'New Hampshire', 'New York', 'Minnesota',
        'Washington', 'Illinois', 'Rhode Island', 'California', 'Utah', 'Oregon',
        'Kansas', 'Hawaii', 'Montana', 'Delaware', 'Nebraska', 'Maine',
        'Pennsylvania', 'Georgia', 'North Carolina', 'Wisconsin', 'Texas',
        'North Dakota', 'Florida', 'Arizona', 'Michigan', 'Alaska', 'Missouri',
        'Iowa', 'South Dakota', 'South Carolina', 'Ohio', 'Idaho', 'Wyoming',
        'Tennessee', 'New Mexico', 'Indiana', 'Alabama', 'Oklahoma', 'Nevada',
        'Kentucky', 'Louisiana', 'Arkansas', 'Mississippi', 'West Virginia'
    ],
    'AdultLiteracyRate': [
        90.1, 90.1, 88.8, 83.1, 91.4, 93.4, 88, 94.2, 77.9, 94, 90.2, 87.1,
        91.5, 76.9, 90.6, 89.8, 92.2, 84.1, 91.2, 89.3, 92.7, 92.6, 87.4, 83.3,
        86.4, 92.7, 81, 93.7, 80.3, 86.9, 91.7, 90.8, 92.5, 92.5, 93, 85.3, 90.9,
        89.5, 91.1, 86.8, 83.5, 92, 85.2, 87.7, 83.9, 87.8, 84, 86.3, 84, 86.6
    ],
    'MeanSATMathScore': [
        593, 528, 531, 563, 527, 553, 567, 526, 531, 636, 535, 498, 497, 530, 617,
        554, 623, 572, 607, 485, 620, 541, 557, 534, 571, 611, 498, 628, 480, 589,
        508, 553, 606, 620, 610, 507, 523, 483, 607, 602, 488, 544, 568, 507, 598,
        603, 583, 584, 589, 487
    ],
    'ResidentsWCollegeDegree': [
        44.53, 41.6, 40.9, 40.73, 40.01, 39.66, 39.51, 37.55, 37.46, 36.78,
        36.68, 35.52, 35.02, 34.72, 34.68, 34.4, 33.92, 33.57, 33.14, 32.66,
        32.5, 32.49, 32.33, 32.2, 32.04, 30.8, 30.69, 30.68, 30.55, 30.31, 29.99,
        29.99, 29.94, 29.32, 29.3, 28.99, 28.89, 28.67, 28.18, 28.15, 28.14, 27.16,
        26.23, 26.15, 25.46, 25.02, 24.86, 23.82, 22.75, 21.3
    ]
}

df = pd.DataFrame(data)
print(df)

             State  AdultLiteracyRate  MeanSATMathScore  \
0    Massachusetts               90.1               593
1         Colorado               90.1               528
2         Maryland               88.8               531
3       New Jersey               83.1               563
4      Connecticut               91.4               527
5          Vermont               93.4               553
6         Virginia               88.0               567
7    New Hampshire               94.2               526
8         New York               77.9               531
9        Minnesota               94.0               636
10      Washington               90.2               535
11        Illinois               87.1               498
12    Rhode Island               91.5               497
13      California               76.9               530
14            Utah               90.6               617
15          Oregon               89.8               554
16          Kansas               92.2               623
17          Hawaii               84.1               572
18         Montana               91.2               607
19        Delaware               89.3               485
20        Nebraska               92.7               620
21           Maine               92.6               541
22    Pennsylvania               87.4               557
23         Georgia               83.3               534
24  North Carolina               86.4               571
25       Wisconsin               92.7               611
26           Texas               81.0               498
27    North Dakota               93.7               628
28         Florida               80.3               480
29         Arizona               86.9               589
30        Michigan               91.7               508
31          Alaska               90.8               553
32        Missouri               92.5               606
33            Iowa               92.5               620
34    South Dakota               93.0               610
35  South Carolina               85.3               507
36            Ohio               90.9               523
37           Idaho               89.5               483
38         Wyoming               91.1               607
39       Tennessee               86.8               602
40      New Mexico               83.5               488
41         Indiana               92.0               544
42         Alabama               85.2               568
43        Oklahoma               87.7               507
44          Nevada               83.9               598
45        Kentucky               87.8               603
46       Louisiana               84.0               583
47        Arkansas               86.3               584
48     Mississippi               84.0               589
49   West Virginia               86.6               487

    ResidentsWCollegeDegree
0                     44.53
1                     41.60
2                     40.90
3                     40.73
4                     40.01
5                     39.66
6                     39.51
7                     37.55
8                     37.46
9                     36.78
10                    36.68
11                    35.52
12                    35.02
13                    34.72
14                    34.68
15                    34.40
16                    33.92
17                    33.57
18                    33.14
19                    32.66
20                    32.50
21                    32.49
22                    32.33
23                    32.20
24                    32.04
25                    30.80
26                    30.69
27                    30.68
28                    30.55
29                    30.31
30                    29.99
31                    29.99
32                    29.94
33                    29.32
34                    29.30
35                    28.99
36                    28.89
37                    28.67
38                    28.18
39                    28.15
40                    28.14
41                    27.16
42                    26.23
43                    26.15
44                    25.46
45                    25.02
46                    24.86
47                    23.82
48                    22.75
49                    21.30

In [54]:
import pandas as pd

data = {
    'state': [
        'California', 'New Jersey', 'New York', 'Florida', 'Hawaii',
        'Nevada', 'Massachusetts', 'Texas', 'Maryland', 'Connecticut',
        'Washington', 'Rhode Island', 'Illinois', 'District of Columbia',
        'Arizona', 'Virginia', 'Delaware', 'Georgia', 'Colorado', 'Oregon',
        'New Mexico', 'Minnesota', 'Utah', 'North Carolina', 'Alaska',
        'Nebraska', 'Pennsylvania', 'Kansas', 'Michigan', 'Idaho',
        'New Hampshire', 'Oklahoma', 'Indiana', 'Iowa', 'Tennessee',
        'South Carolina', 'Wisconsin', 'Ohio', 'Arkansas', 'North Dakota',
        'Louisiana', 'Vermont', 'Maine', 'Missouri', 'Kentucky', 'Alabama',
        'South Dakota', 'Wyoming', 'Montana', 'Mississippi', 'West Virginia'
    ],
    '% Foreign Born': [
        26.6, 23.0, 22.3, 21.2, 18.8, 18.4, 17.6, 17.2, 15.9, 15.2,
        14.8, 14.5, 14.2, 13.3, 12.6, 12.4, 10.1, 10.0, 9.8, 9.7,
        9.1, 8.5, 8.3, 8.2, 8.1, 7.4, 7.2, 6.9, 6.8, 6.1, 5.9,
        5.8, 5.6, 5.4, 5.3, 5.2, 5.1, 5.0, 4.7, 4.4, 4.3, 4.2,
        4.1, 4.1, 4.0, 3.5, 3.5, 3.4, 2.2, 2.1, 1.6
    ]
}
df = pd.DataFrame(data)
print(df)

                   state  % Foreign Born
0             California            26.6
1             New Jersey            23.0
2               New York            22.3
3                Florida            21.2
4                 Hawaii            18.8
5                 Nevada            18.4
6          Massachusetts            17.6
7                  Texas            17.2
8               Maryland            15.9
9            Connecticut            15.2
10            Washington            14.8
11          Rhode Island            14.5
12              Illinois            14.2
13  District of Columbia            13.3
14               Arizona            12.6
15              Virginia            12.4
16              Delaware            10.1
17               Georgia            10.0
18              Colorado             9.8
19                Oregon             9.7
20            New Mexico             9.1
21             Minnesota             8.5
22                  Utah             8.3
23        North Carolina             8.2
24                Alaska             8.1
25              Nebraska             7.4
26          Pennsylvania             7.2
27                Kansas             6.9
28              Michigan             6.8
29                 Idaho             6.1
30         New Hampshire             5.9
31              Oklahoma             5.8
32               Indiana             5.6
33                  Iowa             5.4
34             Tennessee             5.3
35        South Carolina             5.2
36             Wisconsin             5.1
37                  Ohio             5.0
38              Arkansas             4.7
39          North Dakota             4.4
40             Louisiana             4.3
41               Vermont             4.2
42                 Maine             4.1
43              Missouri             4.1
44              Kentucky             4.0
45               Alabama             3.5
46          South Dakota             3.5
47               Wyoming             3.4
48               Montana             2.2
49           Mississippi             2.1
50         West Virginia             1.6

In [58]:
import pandas as pd

data = {
    'state': ['Vermont', 'New York', 'Hawaii', 'Maryland', 'California', 'Massachusetts', 'Minnesota', 'Connecticut', 'South Dakota', 'Maine', 'New Hampshire', 'Colorado', 'Michigan', 'Rhode Island', 'Washington', 'Oregon', 'Wisconsin', 'Virginia', 'North Carolina', 'Delaware', 'Nevada', 'Montana', 'Illinois', 'Pennsylvania', 'New Jersey', 'Idaho', 'South Carolina', 'Nebraska', 'Utah', 'Ohio', 'Iowa', 'Missouri', 'Georgia', 'Tennessee', 'Kansas', 'Arizona', 'New Mexico', 'Arkansas', 'Indiana', 'Florida', 'Texas', 'Oklahoma', 'Alaska', 'Wyoming', 'Kentucky', 'North Dakota', 'Alabama', 'Mississippi', 'Louisiana', 'West Virginia'],
    'greenestStatesRank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
    'stateParksCount': [58, 215, 50, 46, 270, 154, 67, 109, 63, 83, 68, 43, 104, 15, 212, 195, 76, 37, 41, 16, 23, 53, 142, 121, 50, 32, 47, 74, 44, 75, 71, 93, 63, 56, 26, 36, 34, 52, 34, 191, 99, 39, 119, 31, 50, 20, 22, 25, 40, 45],
    # The rest of the columns are filled with placeholder values as I do not have the actual data.
    'nationalParksCount': [1, None, 2, None, 9, None, 1, None, 2, 1, None, 4, 1, None, 3, 1, None, 1, 1, None, 1, 2, None, None, None, 1, 1, None, 5, 1, None, 1, None, 1, None, 3, 1, 1, 1, 3, 2, None, 8, 2, 1, 1, None, None, None, None],
    'parkAcres1K': [5169360, 34941040, 38900940, 10073600, 761553240, 25016220, 48612600, 26290680, 38004890, 77306520, 8020350, 67956480, 83509040, 661920, 177667440, 28584400, 70069350, 26547220, 48879500, 2592460, 21228900, 112930800, 50123400, 29382120, 38278240, 8557920, 10579330, 15352130, 97810200, 20367270, 7563570, 15168760, 8681350, 45314640, 3159600, 157602240, 14008140, 6126480, 18757980, 254538960, 162504150, 5815940, 3583097700, 256050360, 44484360, 9502710, 4680480, 2163210, 3177600, 14732600],
    'stateLandAcres': [6154000, 32056000, 4134000, 7870000, 101676000, 5914000, 54014000, 3548000, 49357000, 21594000, 5941000, 66624000, 37448000, 788000, 45208000, 62140000, 35933000, 27089000, 33710000, 1534000, 70763000, 94109000, 36060000, 28806000, 5258000, 53487000, 19961000, 49523000, 54339000, 26451000, 36017000, 44614000, 37745000, 26973000, 52660000, 72964000, 77823000, 34036000, 23158000, 38392000, 171057000, 44738000, 393747000, 62604000, 25863000, 45251000, 33432000, 30903000, 31776000, 15508000],
    'percStateCoveredInParks': [0.84, 1.09, 9.41, 1.28, 7.49, 4.23, 0.9, 7.41, 0.77, 3.58, 1.35, 1.02, 2.23, 0.84, 3.93, 0.46, 1.95, 0.98, 1.45, 1.69, 0.3, 1.2, 1.39, 1.02, 7.28, 0.16, 0.53, 0.31, 1.8, 0.77, 0.21, 0.34, 0.23, 1.68, 0.06, 2.16, 0.18, 0.18, 0.81, 6.63, 0.95, 0.13, 9.1, 4.09, 1.72, 0.21, 0.14, 0.07, 0.1, 0.95],
    'landfillsPerState': [9, 86, 15, 48, 300, 50, 35, 24, 9, 19, 48, 38, 60, 5, 54, 24, 56, 74, 123, 4, 26, 30, 95, 74, 28, 31, 48, 32, 55, 73, 48, 106, 77, 129, 61, 40, 16, 25, 89, 75, 129, 37, 8, 5, 39, 14, 43, 26, 37, 22],
    'tonsTrashPerCapita': [21.8, 24.5, 28.6, 20.9, 47.8, 16.2, 16.7, 8.7, 21.4, 21.9, 40.9, 44.6, 62.4, 37.2, 28.3, 37, 47, 40.3, 27.5, 33.7, 45.7, 26, 52.4, 52.3, 29, 19.7, 32.6, 37.6, 27.8, 48.8, 27.4, 30.1, 33.7, 36.8, 40.6, 33.9, 33.3, 26, 56.1, 25.1, 36.7, 34.4, 30.1, 16.6, 43.9, 20.3, 37.7, 35.3, 38.7, 29.9]
}

df = pd.DataFrame(data)
print(df)

             state  greenestStatesRank  stateParksCount  nationalParksCount  \
0          Vermont                   1               58                 1.0
1         New York                   2              215                 NaN
2           Hawaii                   3               50                 2.0
3         Maryland                   4               46                 NaN
4       California                   5              270                 9.0
5    Massachusetts                   6              154                 NaN
6        Minnesota                   7               67                 1.0
7      Connecticut                   8              109                 NaN
8     South Dakota                   9               63                 2.0
9            Maine                  10               83                 1.0
10   New Hampshire                  11               68                 NaN
11        Colorado                  12               43                 4.0
12        Michigan                  13              104                 1.0
13    Rhode Island                  14               15                 NaN
14      Washington                  15              212                 3.0
15          Oregon                  16              195                 1.0
16       Wisconsin                  17               76                 NaN
17        Virginia                  18               37                 1.0
18  North Carolina                  19               41                 1.0
19        Delaware                  20               16                 NaN
20          Nevada                  21               23                 1.0
21         Montana                  22               53                 2.0
22        Illinois                  23              142                 NaN
23    Pennsylvania                  24              121                 NaN
24      New Jersey                  25               50                 NaN
25           Idaho                  26               32                 1.0
26  South Carolina                  27               47                 1.0
27        Nebraska                  28               74                 NaN
28            Utah                  29               44                 5.0
29            Ohio                  30               75                 1.0
30            Iowa                  31               71                 NaN
31        Missouri                  32               93                 1.0
32         Georgia                  33               63                 NaN
33       Tennessee                  34               56                 1.0
34          Kansas                  35               26                 NaN
35         Arizona                  36               36                 3.0
36      New Mexico                  37               34                 1.0
37        Arkansas                  38               52                 1.0
38         Indiana                  39               34                 1.0
39         Florida                  40              191                 3.0
40           Texas                  41               99                 2.0
41        Oklahoma                  42               39                 NaN
42          Alaska                  43              119                 8.0
43         Wyoming                  44               31                 2.0
44        Kentucky                  45               50                 1.0
45    North Dakota                  46               20                 1.0
46         Alabama                  47               22                 NaN
47     Mississippi                  48               25                 NaN
48       Louisiana                  49               40                 NaN
49   West Virginia                  50               45                 NaN

    parkAcres1K  stateLandAcres  percStateCoveredInParks  landfillsPerState  \
0       5169360         6154000                     0.84                  9
1      34941040        32056000                     1.09                 86
2      38900940         4134000                     9.41                 15
3      10073600         7870000                     1.28                 48
4     761553240       101676000                     7.49                300
5      25016220         5914000                     4.23                 50
6      48612600        54014000                     0.90                 35
7      26290680         3548000                     7.41                 24
8      38004890        49357000                     0.77                  9
9      77306520        21594000                     3.58                 19
10      8020350         5941000                     1.35                 48
11     67956480        66624000                     1.02                 38
12     83509040        37448000                     2.23                 60
13       661920          788000                     0.84                  5
14    177667440        45208000                     3.93                 54
15     28584400        62140000                     0.46                 24
16     70069350        35933000                     1.95                 56
17     26547220        27089000                     0.98                 74
18     48879500        33710000                     1.45                123
19      2592460         1534000                     1.69                  4
20     21228900        70763000                     0.30                 26
21    112930800        94109000                     1.20                 30
22     50123400        36060000                     1.39                 95
23     29382120        28806000                     1.02                 74
24     38278240         5258000                     7.28                 28
25      8557920        53487000                     0.16                 31
26     10579330        19961000                     0.53                 48
27     15352130        49523000                     0.31                 32
28     97810200        54339000                     1.80                 55
29     20367270        26451000                     0.77                 73
30      7563570        36017000                     0.21                 48
31     15168760        44614000                     0.34                106
32      8681350        37745000                     0.23                 77
33     45314640        26973000                     1.68                129
34      3159600        52660000                     0.06                 61
35    157602240        72964000                     2.16                 40
36     14008140        77823000                     0.18                 16
37      6126480        34036000                     0.18                 25
38     18757980        23158000                     0.81                 89
39    254538960        38392000                     6.63                 75
40    162504150       171057000                     0.95                129
41      5815940        44738000                     0.13                 37
42   3583097700       393747000                     9.10                  8
43    256050360        62604000                     4.09                  5
44     44484360        25863000                     1.72                 39
45      9502710        45251000                     0.21                 14
46      4680480        33432000                     0.14                 43
47      2163210        30903000                     0.07                 26
48      3177600        31776000                     0.10                 37
49     14732600        15508000                     0.95                 22

    tonsTrashPerCapita
0                 21.8
1                 24.5
2                 28.6
3                 20.9
4                 47.8
5                 16.2
6                 16.7
7                  8.7
8                 21.4
9                 21.9
10                40.9
11                44.6
12                62.4
13                37.2
14                28.3
15                37.0
16                47.0
17                40.3
18                27.5
19                33.7
20                45.7
21                26.0
22                52.4
23                52.3
24                29.0
25                19.7
26                32.6
27                37.6
28                27.8
29                48.8
30                27.4
31                30.1
32                33.7
33                36.8
34                40.6
35                33.9
36                33.3
37                26.0
38                56.1
39                25.1
40                36.7
41                34.4
42                30.1
43                16.6
44                43.9
45                20.3
46                37.7
47                35.3
48                38.7
49                29.9